{% extends 'index_app/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                auth       
            </h1>
            <h1>
                Текущий пользователь: {{ current_user }}
            </h1>
            {% for user in users %}
            <p>
                <a href="{% url 'auth:change' email=user.email %}">{{ user }}</a>
                {% if user.image %}
                <a href="{% url 'auth:change' email=user.email %}"><img src="{{ user.image.url}}" alt="" style="max-height:300px"></a>
                {% endif %}
            </p>
            {% endfor %}
            <p>
                <a href="{% url 'auth:login' %}">login</a>
            </p>
            <p>
                <a href="{% url 'auth:logout' %}">logout</a>
            </p>
            <p>
                <a href="{% url 'auth:create' %}">create new</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
